# This is a basic workflow to help you get started with Actions

name: cslam

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - uses: ros-tooling/setup-ros@v0.3
      - name: Install Python Dependencies
        run: |
              pip install -r requirements.txt
      - name: Install C++ Dependencies
        run: |
              sudo add-apt-repository ppa:borglab/gtsam-release-4.1 -y
              sudo apt-get -y update
              sudo apt install libgtsam-dev libgtsam-unstable-dev
              
      - uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: cslam
          import-token: ${{ secrets.SWARMSLAM_TOKEN }}
          target-ros2-distro: foxy
          vcs-repo-file-url: cslam.repos
